/* SIDEBAR */
.sidebar {
  width: 220px;
  transition: transform 0.3s ease-in-out;
}

button.profile-img.dropdown-toggle {
  border: none;
  padding: 9px 10px;
  border-radius: 50%;
  font-size: 14px;
}

button.profile-img.dropdown-toggle::before {
  content: none !important;
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    height: 100%;
    transform: translateX(-100%);
    z-index: 999;
  }

  .sidebar.show {
    transform: translateX(0);
  }
}

nav.navbar.navbar-dark {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-brand {
  color: #000;
}

.sidebar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  height: 92vh;
}

a.dropdown-item {
  cursor: pointer;
}

a.nav-link {
  cursor: pointer;
  margin-bottom: 7px;
  border-radius: 0px 81px 81px 0px;
  cursor: pointer;
  transition: all .3s;
  color: #000;
  font-weight: 500;
}

a.nav-link.active,
a.nav-link:hover {
  background: #6c0e28;
  color: #fff !important;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}