<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 mt-5 bg_">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="head">Change Password</h2>
                </div>
                <div class="col-md-6 text-end">
                    <button (click)="back_()" class="back_btn">Back</button>
                </div>
                <div class="col-md-12 mt-4">
                    <!-- Old Password -->
                    <div class="form-floating mb-4">
                        <input [type]="old_show ? 'text' : 'password'" class="form-control shadow-sm rounded-3"
                            id="oldPassword" placeholder="Old Password">
                        <label for="oldPassword">Old Password</label>
                        <button type="button" class="btn btn-outline-secondary" (click)="toggle(1)"
                            [attr.aria-pressed]="old_show"
                            [attr.aria-label]="old_show ? 'Hide password' : 'Show password'"
                            title="{{ old_show ? 'Hide' : 'Show' }} password">
                            <ng-container *ngIf="!old_show">
                                <!-- eye (show) -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16" aria-hidden="true">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8z" />
                                    <path d="M8 5.5A2.5 2.5 0 1 1 8 10a2.5 2.5 0 0 1 0-4.5z" />
                                </svg>
                            </ng-container>


                            <ng-container *ngIf="old_show">
                                <!-- eye-slash (hide) -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16" aria-hidden="true">
                                    <path
                                        d="M13.359 11.238C14.322 10.345 15 9.238 15 8s-.678-2.345-1.641-3.238C12.176 3.98 10.2 3 8 3 5.8 3 3.824 3.98 2.641 4.762 1.678 5.655 1 6.762 1 8s.678 2.345 1.641 3.238C3.824 12.02 5.8 13 8 13c2.2 0 4.176-.98 5.359-1.762z" />
                                    <path d="M11.31 9.242a3 3 0 0 1-4.552-3.07L11.31 9.242z" />
                                    <path d="M2.354 1.646a.5.5 0 1 0-.708.708l13 13a.5.5 0 0 0 .708-.708l-13-13z" />
                                </svg>
                            </ng-container>
                        </button>
                    </div>
                    <!-- New Password -->
                    <div class="form-floating mb-4">
                        <input [type]="new_show ? 'text' : 'password'" type="password"
                            class="form-control shadow-sm rounded-3" id="newPassword" placeholder="New Password">
                        <label for="newPassword">New Password</label>
                        <button type="button" class="btn btn-outline-secondary" (click)="toggle(2)"
                            [attr.aria-pressed]="new_show"
                            [attr.aria-label]="new_show ? 'Hide password' : 'Show password'"
                            title="{{ new_show ? 'Hide' : 'Show' }} password">
                            <ng-container *ngIf="!new_show">
                                <!-- eye (show) -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16" aria-hidden="true">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8z" />
                                    <path d="M8 5.5A2.5 2.5 0 1 1 8 10a2.5 2.5 0 0 1 0-4.5z" />
                                </svg>
                            </ng-container>


                            <ng-container *ngIf="new_show">
                                <!-- eye-slash (hide) -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16" aria-hidden="true">
                                    <path
                                        d="M13.359 11.238C14.322 10.345 15 9.238 15 8s-.678-2.345-1.641-3.238C12.176 3.98 10.2 3 8 3 5.8 3 3.824 3.98 2.641 4.762 1.678 5.655 1 6.762 1 8s.678 2.345 1.641 3.238C3.824 12.02 5.8 13 8 13c2.2 0 4.176-.98 5.359-1.762z" />
                                    <path d="M11.31 9.242a3 3 0 0 1-4.552-3.07L11.31 9.242z" />
                                    <path d="M2.354 1.646a.5.5 0 1 0-.708.708l13 13a.5.5 0 0 0 .708-.708l-13-13z" />
                                </svg>
                            </ng-container>
                        </button>
                    </div>
                    <!-- Confirm Password -->
                    <div class="form-floating mb-4">
                        <input [type]="confirm_show ? 'text' : 'password'" type="password"
                            class="form-control shadow-sm rounded-3" id="confirmPassword" placeholder="Old Password">
                        <label for="confirmPassword">Confirm Password</label>
                        <button type="button" class="btn btn-outline-secondary" (click)="toggle(3)"
                            [attr.aria-pressed]="confirm_show"
                            [attr.aria-label]="confirm_show ? 'Hide password' : 'Show password'"
                            title="{{ confirm_show ? 'Hide' : 'Show' }} password">
                            <ng-container *ngIf="!confirm_show">
                                <!-- eye (show) -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16" aria-hidden="true">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8z" />
                                    <path d="M8 5.5A2.5 2.5 0 1 1 8 10a2.5 2.5 0 0 1 0-4.5z" />
                                </svg>
                            </ng-container>


                            <ng-container *ngIf="confirm_show">
                                <!-- eye-slash (hide) -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 16 16" aria-hidden="true">
                                    <path
                                        d="M13.359 11.238C14.322 10.345 15 9.238 15 8s-.678-2.345-1.641-3.238C12.176 3.98 10.2 3 8 3 5.8 3 3.824 3.98 2.641 4.762 1.678 5.655 1 6.762 1 8s.678 2.345 1.641 3.238C3.824 12.02 5.8 13 8 13c2.2 0 4.176-.98 5.359-1.762z" />
                                    <path d="M11.31 9.242a3 3 0 0 1-4.552-3.07L11.31 9.242z" />
                                    <path d="M2.354 1.646a.5.5 0 1 0-.708.708l13 13a.5.5 0 0 0 .708-.708l-13-13z" />
                                </svg>
                            </ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>