 .bg_ {
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 23px;
     padding: 25px;
     animation: zoomInPage .6s ease-in-out forwards;
     transform: scale(0.9);
     opacity: 0.2;
 }

 .profile_name {
     font-size: 24px !important;
     margin: 0;
 }

 .back_btn {
     border: none;
     padding: 0px 9px;
     border-radius: 5px;
 }

 input {
     border-radius: 10px 0px 0px 10px !important;
 }

 .btn svg {
     vertical-align: middle;
 }

 .form-floating {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 100%;
 }

 button.btn.btn-outline-secondary {
     padding: 16px 2px;
     border-radius: 0px 10px 10px 0px;
 }