<h2 mat-dialog-title>Add User</h2>
<form [formGroup]="userForm" class="user-form">
    <div class="mat-typography m-2 p-2">
        <div class="row">
            <div class="col-4 mt-2">
                <div class="form-floating">
                    <input type="text" class="form-control shadow-sm rounded-3" id="firstName" placeholder="First Name"
                        formControlName="firstName" required>
                    <label for="firstName">First Name*</label>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                    <input type="text" class="form-control shadow-sm rounded-3" id="lastName" placeholder="Last Name"
                        formControlName="lastName" required>
                    <label for="lastName">Last Name*</label>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                    <input type="email" class="form-control shadow-sm rounded-3" id="emailId" placeholder="Email ID"
                        formControlName="emailId" required>
                    <label for="emailId">Email ID*</label>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                    <input type="text" class="form-control shadow-sm rounded-3" id="mobileNumber"
                        placeholder="Phone Number" formControlName="mobileNumber" required>
                    <label for="mobileNumber">Mobile Number*</label>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                    <input type="text" class="form-control shadow-sm rounded-3" id="emergencyContactNumber"
                        placeholder="Emergency Contact Number" formControlName="emergencyContactNumber" required>
                    <label for="emergencyContactNumber">Emergency Contact Number*</label>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                <label class="form-label fw-bold">Select Gender*</label>
                <select class="form-select" [(ngModel)]="gender">
                    <option value="" disabled selected>-- Select --</option>
                    @for (g of genders; track $index) {
                    <option [value]="g">{{ g }}</option>
                    }
                </select>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                <label class="form-label fw-bold">Select Status*</label>
                <select class="form-select" [(ngModel)]="status">
                    <option value="" disabled selected>-- Select --</option>
                    @for (status of userStatus; track $index) {
                    <option [value]="status">{{ status }}</option>
                    }
                </select>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                <label class="form-label fw-bold">Select UserType*</label>
                <select class="form-select" [(ngModel)]="userType">
                    <option value="" disabled selected>-- Select --</option>
                    @for (type of userTypes; track $index) {
                    <option [value]="type">{{ type }}</option>
                    }
                </select>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                    <input type="date" class="form-control shadow-sm rounded-3" id="dob" placeholder="Date of Birth"
                        formControlName="dob" >
                    <label for="dob">Date of Birth (Optional)</label>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                <label class="form-label fw-bold">Select Department*</label>
                <select class="form-select" [(ngModel)]="departmentName">
                    <option value="" disabled selected>-- Select --</option>
                    @for (type of departments; track $index) {
                    <option [value]="type">{{ type }}</option>
                    }
                </select>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                <div class="position-relative">
                    <input type="text" class="form-control shadow-sm rounded-3" placeholder="Enter specialization*" [(ngModel)]="searchText"
                        [ngModelOptions]="{standalone: true}" (input)="filterSpecializations()" (focus)="showDropdown = true">
                
                    <!-- Autocomplete dropdown -->
                    @if (showDropdown && filteredList.length > 0) {
                    <ul class="list-group position-absolute w-100 shadow-sm"
                        style="z-index: 1000;">
                        @for (item of filteredList; track $index) {
                        <li class="list-group-item list-group-item-action"
                            (click)="selectSpecialization(item)">
                            {{ item }}
                        </li>
                        }
                    </ul>
                    } 
                </div>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                    <input type="text" class="form-control shadow-sm rounded-3" id="licenseNumber"
                        placeholder="License Number" formControlName="licenseNumber">
                    <label for="licenseNumber">License Number*</label>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="form-floating">
                <label class="form-label fw-bold">Select Shift*</label>
                <select class="form-select" [(ngModel)]="shiftSchedule">
                    <option value="" disabled selected>-- Select --</option>
                    @for (shift of shiftList; track $index) {
                    <option [value]="shift.value">{{ shift.label }}</option>
                    }
                </select>
                </div>
            </div>

            <!-- PROFILE IMAGE -->
            <div class="col-4 mt-3">
                <label class="form-label fw-bold">Profile Image (Max 1MB)</label>
                <input type="file" class="form-control" accept="image/*"
                       (change)="onFileSelect($event)">
                 @if (imageError) {
                <small class="text-danger" >{{ imageError }}</small>
                 }
            </div>
        
        <!-- ---------------- ADDRESS SECTION ---------------- -->
        <h4 class="mt-4 mb-3 fw-bold">Address Details</h4>

        <div formArrayName="addresses">

            <div class="border rounded-3 p-3 mb-3 shadow-sm"
                 *ngFor="let addr of addresses.controls; let i = index" 
                 [formGroupName]="i">

                <div class="row">
                    <div class="col-4 mt-2">
                        <div class="form-floating">
                            <input type="text" class="form-control shadow-sm rounded-3"
                                   placeholder="Address Line 1"
                                   formControlName="addressLine1">
                            <label>Address Line 1 (Optional)</label>
                        </div>
                    </div>

                    <div class="col-4 mt-2">
                        <div class="form-floating">
                            <input type="text" class="form-control shadow-sm rounded-3"
                                   placeholder="Address Line 2"
                                   formControlName="addressLine2" required>
                            <label>Address Line 2*</label>
                        </div>
                    </div>

                    <div class="col-4 mt-2">
                        <div class="form-floating">
                            <input type="text" class="form-control shadow-sm rounded-3"
                                   placeholder="Street"
                                   formControlName="street" required>
                            <label>Street*</label>
                        </div>
                    </div>

                    <div class="col-4 mt-2">
                        <div class="form-floating">
                            <input type="text" class="form-control shadow-sm rounded-3"
                                   placeholder="City"
                                   formControlName="city" required>
                            <label>City*</label>
                        </div>
                    </div>

                    <div class="col-4 mt-2">
                        <div class="form-floating">
                            <input type="text" class="form-control shadow-sm rounded-3"
                                   placeholder="State"
                                   formControlName="state" required>
                            <label>State*</label>
                        </div>
                    </div>

                    <div class="col-4 mt-2">
                        <div class="form-floating">
                            <input type="text" class="form-control shadow-sm rounded-3"
                                   placeholder="Country"
                                   formControlName="country" required>
                            <label>Country*</label>
                        </div>
                    </div>

                    <div class="col-4 mt-2">
                        <div class="form-floating">
                            <input type="text" class="form-control shadow-sm rounded-3"
                                   placeholder="Postal Code"
                                   formControlName="postalCode" required>
                            <label>Postal Code*</label>
                        </div>
                    </div>

                </div>

                <!-- Add / Remove buttons -->
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-danger btn-sm"
                            (click)="removeAddress(i)"
                            [disabled]="addresses.length === 1">
                        Remove
                    </button>
                </div>

            </div>

            <button type="button" class="btn btn-success btn-sm mb-3"
                    (click)="addAddress()">
                + Add Another Address
            </button>

        </div>
        <!-- ---------------- END ADDRESS SECTION ---------------- -->
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-secondary ms-2" mat-dialog-close>Cancel</button>
            <button class="btn btn-primary ms-2" [disabled]="userForm.invalid">Submit</button>
        </div>
    </div>
</form>