@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.mat-mdc-header-row {
  background-color: #3e843e !important;
  color: #fff !important;
  height: 40px !important;
  font-size: 12px !important;
}

.mat-mdc-cell {
  font-size: 12px !important;
  height: 40px !important;
}

.mat-sort-header-arrow {
  color: #fff !important;
  font-size: 12px !important;
}

.mat-mdc-paginator-page-size-select {
  height: 25px !important;
}


.mdc-text-field {
  border: 1px solid #dad9d9 !important;
  height: 50px !important;
  font-size: 13px !important;
  background: white !important;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif !important;
}

.mat-mdc-form-field-focus-overlay {
   background: white !important;
}

.mat-mdc-menu-item-text {
  font-size: 14px !important;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif !important;
}

.mat-icon {
  font-size: 15px !important;
    margin: 5px !important;
}


.mdc-floating-label,
.mat-mdc-option {
  font-size: 13px !important;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif !important;
}

.btn-primary,
.btn-secondary {
  font-size: 13px !important;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif !important;
}

.f-18{
  font-size: 18px !important;
}