@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.mat-mdc-header-row {
  background-color: #3e843e !important;
  color: #fff !important;
  height: 40px !important;
  font-size: 12px !important;
}

.mat-mdc-cell{
  font-size: 12px !important;
  height: 40px !important;
}

.mat-sort-header-arrow{
  color: #fff !important;
  font-size: 12px !important;
}