@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

h2.head {
    font-size: 22px;
    margin: 0;
    font-weight: bold;
    color: #746355;
}
@keyframes zoomInPage {
  0% {
    transform: scale(0.9);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}
label.form-check-label, label.form-label {
    color: rgba(var(--bs-body-color-rgb), .65) !important;
}
mat-label {
    color: rgba(var(--bs-body-color-rgb), .65) !important;
}
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
    background: #fff;
    box-shadow: var(--bs-box-shadow-sm) !important;
        border: var(--bs-border-width) solid var(--bs-border-color) !important;
}
.cdk-overlay-container {
  z-index: 99999 !important;
}

.card, .form-group, .row, .col {
  overflow: visible !important;
}