<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 bg_">
            <div class="row">
                <div class="col-6">
                    <h2 class="head">Profile</h2>
                </div>
                <div class="col-6 text-end">
                    <button (click)="back_()" class="back_btn">Back</button>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center mt-4">
                    <p class="f_l_name">AK</p>
                    <h1 class="head profile_name pt-2">ALEXANDAR K</h1>
                    <p>A84304586</p>
                </div>
                <div class="col-md-3 text-end">

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control shadow-sm rounded-3" id="firstName"
                            placeholder="First Name">
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control shadow-sm rounded-3" id="lastName"
                            placeholder="Last Name">
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="email" class="form-control shadow-sm rounded-3" id="mailId" placeholder="Mail ID">
                        <label for="mailId">Mail ID</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="tel" class="form-control shadow-sm rounded-3" id="mobile"
                            placeholder="Mobile Number">
                        <label for="mobile">Mob Number</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>